*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avo';
    src: url('fonts/UTMAvo.eot');
    src: url('fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),
        /* url('fonts/UTMAvo.woff2') format('woff2'),
        url('fonts/UTMAvo.woff') format('woff'), */
        url('fonts/UTMAvo.ttf') format('truetype'),
        url('fonts/UTMAvo.svg#fonts/UTMAvo') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wrap-body {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url('./images/bg-main.png');
}
.scrollto {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 37px;
    text-align: center;
    background: rgba(0,0,0,.2);
    position: fixed;
    bottom: 19px;
    right: 19px;
    z-index: 9999;
    border: 5px double #fff;
}
.scrollto:hover {
    border: 5px solid yellow;
}
.nav {
    display: flex;
    background: #725a17;
    position: fixed;
    margin-top: -80px;
    width: 100%;
    height: 80px;
    z-index: 999;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 0;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    margin-left: 20px;
}
.menu {
    display: flex;
    align-items: center;
}
.nav-link{
    display: flex;
    justify-items: space-around;
    width: 30%;
}
.nav-link li {
    list-style: none;
}
.nav-link li a{
    text-decoration: none;
    color: white;
    padding: 17px;
    font-weight: bold;
    display: block;
    font-size: 20px;
    font-family: 'Avo';
}
.nav-link li a:hover{
    background-color: rgb(92, 199, 133);
    border-radius: 6px;
}
.background{
    background-image: url('img_snow_wide.jpg');
    background-repeat: no-repeat;
    background-size: 100% 490px;
    height: 600px;
    position: relative;
}
.login{
    display: inline;
    color: rgb(99, 99, 250);
}
.content{
    text-align: center;
    margin-top: 130px;
    width: 50%;
    overflow: hidden;
    margin-left: 25%;
    position: relative;
}
#text{
    font-size: 20px;
    color: black;
    font-family: fantasy;
    margin-bottom: 20px;
    margin-top: 160px;
}
#text h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Pacifico',cursive; 
}
#text p{
    font-size: 24px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
}
#discover-btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    background-color:rgb(43, 73, 206);
    margin-top: 15px;
    font-family: monospace;
    border: 0;
}
#discover-btn a{
    text-decoration: none;
    color: #fff;
}
#discover-btn:hover{
    background-color: rgb(29, 100, 67);
    cursor: pointer;
}
.bar{
    border: 2px solid brown;
    width: 30%;
    margin: 25px auto 0;
    border-radius: 3px;
}
.title{
    margin: 15px 0 -30px 7%;
    font-size: 2.3rem;
}
.content2{
    width: 100%;
    display: flex;
    margin: 40px auto;
    background-image: url("img_mountains_wide.jpg");
    background-repeat: no-repeat;
    background-size: 100% 350px;
    height: 350px;
}
.image{
    box-shadow: -3px 3px 6px rgb(68, 68, 68) ;
    margin: 50px auto;
    height: 250px;
    width: 300px;
    background-size: cover ;
    transition: transform 0.5s; 
}
.image:hover {
    transform: scale(1.20);
}
.content2 .image a {
    display: none;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Avo';
}
.content2 .image a:hover {
    color: yellow;
}
.image:nth-child(1){
    background-image: url('./images/8f5b8112aeaf56f10fbe.jpg');
    margin-left: 15%;
}
.image:nth-child(2){
    background-image: url('./images/8f5b8112aeaf56f10fbe.jpg');
    margin-left: 5%;
    margin-right: 5%;
}
.image:nth-child(3){
    background-image: url('./images/8f5b8112aeaf56f10fbe.jpg');
    margin-right: 15%;
}
.feel p {
    font-family: 'Avo';
    font-size: 50px;
}
.content2>p{
    clear: left;
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    position: relative;

}

.mw-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.wrap {
    width: 100%;
    margin-top: 30px;
}
.des {
    display: flex;
    margin-top: 30px;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}
.des img {
    box-shadow: -3px 3px 6px rgb(68, 68, 68);
    object-fit: cover;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    flex: 0 0 30%;
    height: 400px;
    width: 40%;
    border-radius: 8px;
}
.des .content-des p {
    font-family: 'Avo';
    color:black;
    margin-left: 70px;
}
.des .content-des #title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
}
.des .content-des #content {
    margin-top: 30px;
    text-align-last: left;
    font-size: 20px;
    line-height: 30px;
}
.des2 {
    display: flex;
    margin-top: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    flex-direction: row-reverse;
}
.des2 img {
    box-shadow: -3px 3px 6px rgb(68, 68, 68);
    object-fit: cover;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    flex: 0 0 30%;
    height: 400px;
    width: 40%;
    border-radius: 8px;
}
.des2 .content-des p {
    font-family: 'Avo';
    color: black;
    margin-left: 20px;
    margin-right: 70px;
}
.des2 .content-des #title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
}
.des2 .content-des #content {
    margin-top: 30px;
    text-align-last: left;
    font-size: 20px;
    line-height: 30px;
}
.bar2 {
    border: 1px solid brown;
    width: 110px;
    margin: 0 70px 0;
    border-radius: 3px;
}
.bar3 {
    border: 1px solid brown;
    width: 110px;
    margin: 0 0 0 20px;
    border-radius: 3px;
}
.des .content-des a {
    max-width: 160px;
    height: 55px;
    margin-left: 70px;
    margin-top: 50px;
}
.des2 .content-des a {
    max-width: 160px;
    height: 55px;
    margin-left: 70px;
    margin-top: 50px;
}
.des .content-des a .black {
    color: black;
    margin-top: 50px;
    margin-left: 70px;
    background: white;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    border-radius: 3px;
    padding: 10px 30px;
    border: 1px solid black;
    transition-property: color,background;
    transition-duration: 0.25s;
}
.des .content-des a .black:hover {
    color:white;
    background: black;
}
.des2 .content-des a .black {
    color: black;
    margin-top: 50px;
    margin-left: -5px;
    background: white;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    border-radius: 3px;
    padding: 10px 30px;
    border: 1px solid black;
    transition-property: color,background;
    transition-duration: 0.25s;
}
.des2 .content-des a .black:hover {
    color:white;
    background: black;
}
.wrap-intro {
    margin-top: 30px;
    background-image: url(img_nature_wide.jpg);
    background-size: cover;
}
.wrap-per {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 30px;
}
.wrap-radius {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.wrap-radius span {
    font-weight: bolder;
    font-family: 'Avo';
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    transition-property: color;
    transition-delay: 0.2s;
}
.wrap-radius span:hover {
    color:white;
}
/* .hover:hover {
    background: black;
} */
.wrap-radius .radius1 {
    display: flex;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: none;
    border: 1px solid white;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius1:hover {
    background: black;
    opacity: 0.5;
    border: none;
}
.wrap-radius .radius2 {
    display: flex;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fab702;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius2:hover {
    background: black;
    opacity: 0.5;
}
.wrap-radius .radius3 {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fab702;
    transition-property: background;
    transition-duration: 0.2s;
}
.wrap-radius .radius3:hover {
    background: black;
    opacity: 0.5;
}
.wrap-intro .bar4 {
    border: 1px solid black;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wrap-content {
    color: white;
    line-height: 50px;
    font-family: 'Avo';
    width: 90%;
    max-width: 1000px;
    margin: 0 250px;
}
.wrap-content ul {
    text-align-last: left;
}
.wrap-content ul li {
    list-style: none;
}
.footer-bg {
    background: #ebecf0;
    padding: 50px 0;
    margin-top: 30px;
}
.footer-logo {
    width: 30%;
    margin-bottom: 20px;
}
.footer-logo i {
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 0;
}
.footer-bg .footer-intro {
    margin-bottom: 40px;
    text-align: justify;
    flex: 0 0 30%;
    font-size: 20px;
}
.footer-bg .footer-info {
    margin-bottom: 40px;
    flex: 0 0 35%;
    margin-left: 50px;
    font-size: 20px;
}
.footer-bg .footer-email {
    margin-left: 50px;
    width: 300px;
    font-size: 20px;
}
.footer-bg .footer-info p {
    margin-bottom: 10px;
}
.flex.mid {
    align-items: center;
}
.flex.center {
    justify-content: center;
}
.footer-bg .footer-info p i {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    margin-right: 10px;
    display: inline-block;
}
.footer-bg .footer-info p a {
    color: #000;
    text-decoration: none;
    text-align: justify;
}
.pos-rel {
    position: relative;
}
.pos-rel .w-full {
    width: 90%;
}
.footer-bg .footer-email input {
    background: transparent;
    border-radius: 0;
    margin-bottom: 20px;
}
input {
    font-family: Avo;
    height: 38px;
    outline: none;
    border: 1px solid #707070;
    font-size: 16px;
    color: #000;
    padding: 0 15px;
}
.footer-bg .footer-email button {
    background: black;
    top: 0;
    right: -7px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
}
.pos-abs {
    position: absolute;
}
.footer-bg .footer-email button i {
    color: white;
    width: 20px;
    height: 20px;
}
.footer-bg .footer-email button .icon-cls {
    margin-left: 0;
}
